$bg: rgb(16,16,16);

.banner{
    height: 400px;
    background-color: $bg;
    border: 1px solid green;
}

.home > h2{
    color: red;
}

.row{
    padding: 1rem;
    background-color: $bg;
    > h2{
        margin: 0.3rem;
        font-weight: 400;
    }

    > div{
        display: flex;
        overflow-x: auto;
        
    }
}

.card{
    width :200px;
    margin: 0.3rem;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) ;
    }
}